@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");

.header {
  padding: 64px 0 67px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo-link {
  display: block;
}

.header__logo-img {
  display: block;
}

.header__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__list-item:not(:last-child) {
  margin-right: 42px;
}

.header__list-item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #333136;
}

.header__menu-btn {
  display: none;
}

@media only screen and (max-width: 375px) {
  .header {
    position: relative;
    padding: 34px 0;
  }

  .header__inner {
    display: none;
  }

  .header__list-item:not(:last-child) {
    margin-right: 0;
  }

  .header__list-item {
    margin-bottom: 32px;
  }

  .header__list-item-link {
    font-family: "Fraunces", "Arial", sans-serif;
    color: var(--color-dark);
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
  }

  .header__menu-btn {
    display: block;
    border: 0;
    width: 24px;
    height: 20px;
    background-color: transparent;
    background-image: url("../../image/hamburger-btn.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .header__open .header__inner {
    width: 100%;
    height: 100vh;
    display: block;
    position: absolute;
    top: 92px;
    left: 0;
    background: white;
    background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(40%, white), to(rgba(255, 255, 255, 0.695116)));
    background: linear-gradient(180deg, white 0%, white 40%, rgba(255, 255, 255, 0.695116) 100%);
  }

  .header__open .header__list {
    padding: 48px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__open .header__menu-btn {
    width: 20px;
    height: 20px;
    background-image: url("../../image/hamburger-exit.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.hero {
  background-image: url(../../image/heading-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  border-radius: 10px;
}

.hero__box {
  margin-left: 85px;
  max-width: 493px;
}

.hero__box h1 {
  padding: 117px 0 32px 0;
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
  font-family: "Fraunces", "Arial", sans-serif;
}

.hero__box p {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  padding-right: 100px;
  opacity: 0.8;
}

.hero__box button {
  padding: 15px 31px;
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
  border-radius: 6px;
  margin: 56px 0 116px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 900;
  cursor: pointer;
}

.hero__box button:hover {
  background-color: #66D2CF;
}

@media only screen and (max-width: 768px) {
  .hero {
    background-image: url(../../image/tablet-bg-png.png);
  }

  .hero__box {
    max-width: 398px;
  }

  .hero__box h1 {
    padding: 104px 0 24px 0;
    font-size: 48px;
    line-height: 48px;
    padding-right: 50px;
  }

  .hero__box p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 375px) {
  .hero {
    background-image: url(../../image/phone-hero.png);
  }

  .hero__box {
    max-width: 279px;
    margin-left: 0;
    text-align: center;
    margin: 0 auto;
  }

  .hero__box h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    padding-right: 0;
  }
}

.collection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-dark);
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-image: url(../../image/collection.png);
  background-repeat: no-repeat;
  margin-left: 85px;
}

.collection__box h2 {
  padding-bottom: 24px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  font-family: "Fraunces", "Arial", sans-serif;
}

.collection__box p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.collections {
  margin-top: 130px;
  margin-left: 30px;
}

.collections::before {
  content: " ";
  display: block;
  width: 255px;
  height: 193px;
  background-image: url(../../image/kopi1.png);
  background-repeat: no-repeat;
}

.collection__text {
  max-width: 255px;
  margin-top: 110px;
}

.collection__text:not(:first-child) {
  margin-left: 30px;
}

.collections:nth-child(2)::before {
  background-image: url(../../image/kopi3.png);
}

.collections:nth-child(3)::before {
  background-image: url(../../image/kopi1.png);
}

.collections:nth-child(4)::before {
  background-image: url(../../image/kopi3.png);
}

@media only screen and (max-width: 768px) {
  .collection__box {
    background-image: url(../../image/tablet-collection.png);
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 0;
  }

  .collections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    margin-left: 97px;
  }

  .collections:nth-child(1) {
    margin-top: 60px;
  }

  .collections:not(:first-child) {
    padding-top: 47px;
  }

  .collection__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: start;
    margin-top: 0;
    margin-left: 32px;
  }

  .collection__text h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
    padding-bottom: 24px;
  }

  .collection__text p {
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
  }
}

@media only screen and (max-width: 375px) {
  .collection__box {
    background-image: url(../../image/phone-collection.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 0;
  }

  .collections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 0;
  }

  .collection__text {
    margin-left: 0;
    text-align: center;
  }
}

.choose {
  background-color: var(--color-dark-white);
  border-radius: 10px;
  margin-top: 200px;
  text-align: center;
}

.choose__text {
  max-width: 540px;
  margin: 0 auto;
  position: relative;
}

.choose__text h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  color: var(--color-white);
  padding: 100px 0 32px 0;
  font-family: "Fraunces", "Arial", sans-serif;
}

.choose__text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: var(--color-white);
  opacity: 0.8;
  padding-bottom: 317px;
}

@media only screen and (max-width: 768px) {
  .choose__text h3 {
    font-size: 32px;
    line-height: 48px;
  }

  .choose__text p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
  }
}

@media only screen and (max-width: 375px) {
  .choose__text h3 {
    font-size: 28px;
    line-height: 28px;
  }

  .choose__text p {
    font-size: 15px;
    line-height: 25px;
    margin: 0 24px 0 24px;
  }
}

.works {
  margin-left: 85px;
}

.works h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  color: var(--color-gray);
  margin-bottom: 178px;
  font-family: "Fraunces", "Arial", sans-serif;
}

.works__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.works__box::before {
  content: " ";
  display: block;
  width: 760px;
  top: -75px;
  z-index: -1;
  border: 1px solid #fdd6ba;
  position: absolute;
}

.works__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 285px;
}

.works__text:not(:first-child) {
  margin-left: 95px;
}

.works__text h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 900;
  color: var(--color-dark);
  padding: 38px 0 42px 0;
  padding-right: 60px;
  font-family: "Fraunces", "Arial", sans-serif;
}

.works__text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-dark);
}

.works__number {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  font-size: 72px;
  line-height: 72px;
  font-weight: 900;
  color: var(--color-orange);
  font-family: "Fraunces", "Arial", sans-serif;
}

.works__number::before {
  content: " ";
  display: block;
  width: 31px;
  height: 31px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid #0e8474;
  position: absolute;
  top: -90px;
}

.works button {
  padding: 15px 31px;
  color: var(--color-white);
  background-color: var(--color-green);
  border: none;
  border-radius: 6px;
  margin: 64px 0 116px 0;
  font-size: 18px;
  line-height: 25px;
  font-weight: 900;
  cursor: pointer;
}

.works button:hover {
  background-color: #66D2CF;
}

@media only screen and (max-width: 768px) {
  .works {
    margin-left: 0;
  }

  .works h5 {
    margin-bottom: 119px;
  }

  .works__text h2 {
    font-size: 28px;
    line-height: 32px;
  }

  .works__text p {
    font-size: 15px;
    line-height: 25px;
    font-weight: normal;
  }

  .works__text:not(:first-child) {
    margin-left: 10px;
  }

  .works__box::before {
    width: 515px;
    top: -60px;
  }

  .works__number::before {
    top: -74px;
  }

  .works button {
    margin-top: 44px;
  }
}

@media only screen and (max-width: 375px) {
  .works {
    text-align: center;
  }

  .works h5 {
    margin-top: 0;
    margin-bottom: 80px;
  }

  .works__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .works__box::before {
    display: none;
  }

  .works__number::before {
    display: none;
  }

  .works__text {
    margin: 0 auto;
    text-align: center;
  }

  .works__text h2 {
    padding-right: 0;
  }

  .works__text:not(:first-child) {
    margin: 0 auto;
  }
}

footer {
  background-color: var(--color-dark-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 47px 85px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  margin-left: 103px;
}

.footer__menu ul li:not(:last-child) {
  margin-right: 33px;
}

.footer__icons a {
  color: var(--color-white);
}

.footer__icons a:not(:last-child) {
  margin-right: 24px;
}

@media only screen and (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__menu ul {
    margin: 0;
  }

  .footer__menu img {
    padding: 54px 0 33px 0;
  }

  .footer__icons {
    padding-top: 65px;
  }
}

@media only screen and (max-width: 375px) {
  .footer__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .footer__menu ul li:not(:last-child) {
    margin: 0;
  }
}

.best {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -230px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.best__box {
  margin: 0 auto;
  width: 350px;
  height: 382px;
  background-color: var(--color-green);
  border-radius: 8px;
  color: var(--color-white);
}

.best__box:nth-child(2)::before {
  background-image: url(../../image/coffee-icon-2.png);
}

.best__box:nth-child(3)::before {
  background-image: url(../../image/coffee-icon-3.png);
}

.best__box::before {
  content: " ";
  display: block;
  width: 72px;
  height: 72px;
  background-image: url(../../image/coffee-icon-1.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 72px;
}

.best__box:not(:first-child) {
  margin-left: 30px;
}

.best__text {
  max-width: 255px;
  text-align: center;
  margin: 0 auto;
}

.best__text h4 {
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  font-weight: 900;
  padding: 56px 0 24px 0;
  font-family: "Fraunces", "Arial", sans-serif;
}

.best__text p {
  font-size: 16px;
  text-align: center;
  line-height: 26px;
  font-weight: normal;
}

@media only screen and (max-width: 768px) {
  .best {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .best__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 573px;
    height: 180px;
  }

  .best__box:not(:first-child) {
    margin: 0 auto;
    margin-top: 24px;
  }

  .best__box::before {
    margin-top: 0;
  }
}

.best__text {
  text-align: left;
}

.best__text h4 {
  padding: 41px 0 16px 0;
}

.best__text p {
  padding-bottom: 41px;
}

@media only screen and (max-width: 375px) {
  .best__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 279px;
    height: 382px;
  }

  .best__box::before {
    margin-top: 72px;
  }

  .best__text {
    text-align: center;
  }

  .best__text h4 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 900;
  }

  .best__text p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    padding: 0 24px 0 24px;
  }

  .best {
    position: relative;
    bottom: -800px;
  }
}

:root {
  --color-green: #0e8474;
  --color-dark: #333D4B;
  --color-dark-white: #2C343E;
  --color-orange: #FDD6BA;
  --color-white: #FEFCF7;
  --color-gray: #83888f;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Barlow", "Tahoma", sans-serif;
}

.container {
  max-width: 1310px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul li {
  list-style: none;
}

ul li a {
  color: #83888F;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
