.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    & ul li:not(:last-child){
        margin-right: 32px;
    }
    & ul li:hover{
        color: var(--color-dark);
        font-weight: bold;
    }
}
ul li a{
    text-decoration: none;
    color: var(--color-gray);
}